<nav class="navbar navbar-default">
  <div class="ui container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><img src="assets/logo.png" alt="logoBrand"></a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li ><a href="#"><p>Recipes</p></a></li>
        <li><a href="#"><p>Shopping List</p></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle"><p role="button">Manage<span class="caret"></span></p></a>
          <ul class="dropdown-menu">
            <li><a href="#"><p>Save Data</p></a></li>
            <li><a href="#"><p>Fetch Data</p></a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>




<!--<div class="ui">
  <div class="container">

    <div id="left">
      <h4>Welcome!</h4>
    </div>
    <div id="right">
      <a href="#">
        <img src="assets/logo.png" alt="LOGO">
      </a>
    </div>

  </div>
</div>-->
